$primary-color: #AE633F;
$primary-light-color: #d6b09e;
$secondary-color: #4693b9;
$secondary-light-color: #9ed0e9;
$primary-darker-color: #6a2e11;
$white-color: #ffffff;

// fonts
$body-font: 'Roboto', sans-serif;
$topic-heading-size : 10rem;
$largest-heading-size: 3rem;
$heading-size: 2.5rem;
$small-heading-size: 1.5rem