@import "./variables";

.footer{
    &{
        display: flex;
        flex-direction: column;
        color: white;
        background-color: $secondary-darker-color;
    }
}

.footer__subscription_form{
    &{
        z-index: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3rem 0;
    }

    div{    
        &{width: 40%;
        display: flex;
        border: 2px solid $primary-color;
        justify-content: center;
        padding: 3rem 2rem;
        position: relative;
    }

        p{
            color: #196991;
            font-size: 6rem;
            position: absolute;
            bottom: -30%;
            right: -10%;
            z-index: -1;
        }
    }
    
    input{
        &{
            outline: none;
            font-family: $body-font;
            border: none;
            width: 70%;
            font-size: 1rem;
            padding: 0.5rem 0.5rem;
            z-index: 0;
        }
    }

    button{
        &{
            cursor: pointer;
            z-index: 0;
            background-color: $primary-color;
            border: none;
            padding: 1rem 1.5rem;
            border-radius: 3px;
            margin-left: 3rem;
            color: white;
            font-size: 1rem;
        }

        &:hover{
            background-color: $primary-darker-color;
        }

        &:active{
            background-color: $primary-color;
        }

    }

}

.footer__map{
    &{
        width: 100%;
        margin: 2rem 0;
        height: 50vh;
    }
}

.footer__data{
    &{
        margin: 3rem 0;
        display: flex;
        justify-content: space-evenly;
    }
}

.footer__copyright{
    &{
        display: flex;
        justify-content: center;
        background-color: black;
    }
}

.footer__links{
    &{
        width: 50%;
        display: flex;   
        justify-content: space-evenly;
    }

    ul{
        &{
            list-style: none;
        }

        P{
            &{
                cursor: pointer;
                color: $primary-light-color;
                font-weight: bolder;
                letter-spacing: 0.25rem;
            }

            &:hover{
                color: $primary-darker-color;
            }

        }

        li{
            &{
                color: rgb(226, 226, 226);
                cursor: pointer;
                margin: 1rem 0;
            }

            &:hover{
                color: white;
            }

        }
    }    

}

.footer__address{
    &{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.footer__address-data{
    &{

    }

    h3{
        &{
            cursor: pointer;
            color: $primary-light-color;
            font-weight: bolder;
            letter-spacing: 0.25rem;
        }

        &:hover{
            color: $primary-darker-color;
        }
    }

    p{
      &{
          margin: 0.5rem 0;
          display: flex;
          align-items: center;
      }
      span{
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }

}

.footer__address-img-cont{
    &{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    p{
        cursor: pointer;
        margin: 1rem 0;
        font-family: 'Oleo Script', cursive;
        font-size: 2.5rem;
        color: $primary-light-color;
    }

    p:hover{
        color: $primary-darker-color;
    }

}